<% page = 'add-jobs' %>

<main class="container-lg container-max">

  <%- include('templates/header.ejs', { page })%>
  <%- include('components/section', {title: 'Jobs' ,  message:'Add a job', section:'jobs' , userHistory: user.jobs, textboxHeight: '135px', page }) %>

  <a href="add-education" class="btn btn-primary w-100">next</a>

  <%- include('templates/footer.ejs', {page, user }) %>

</main>