<form action="/create-resume" method="POST" id="jobListingForm" class="inputForms">
  <div>
    <textarea id="jobListing" name="jobListing" required placeholder="Paste the job listing here"></textarea>
  </div>

  <div>
    <button type="submit">Generate Resume</button>
  </div>
</form>