<html>

<head>
    <title>Resume Builder</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/main.css" />
    <nav>
        <a href="/dashboard">Your Info</a>
        <a href="/create-resume">Create Resume</a>
        <a href="/logout">Logout</a>
    </nav>
</head>

<body>