<nav class="navbar">
    <ul class="navbar-nav">
        <% if (page==='addInfo' ) { %>
            <li class="nav-item current">Step 1: Add Your Info</li>

            <li class="nav-item"><a href="/create-resume">Step 2: Generate Resume</a></li>
            <% } else if (page==='generateResume' ) { %>
                <li class="nav-item"><a href="/dashboard">Step 1: Add Your Info</a></li>
                <li class="nav-item current">Step 2: Generate Resume</li>
                <% } %>
                    <li class="nav-item"></li>
    </ul>
</nav>



<style>
    .navbar {
        font-family: 'Roboto', sans-serif;
        background-color: #202020;
    }

    .navbar-nav {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: left;
        align-items: center;
    }

    .nav-item {
        color: #bbb;
        font-size: 1.0rem;
        margin-right: 15px;
        padding: 5px 10px;
    }

    .nav-item.current {
        background-color: #57cd6b;
        color: #fff;
        font-weight: bold;
        padding: 5px 10px;

    }

    .nav-item a {
        color: inherit;
        text-decoration: none;
    }

    .nav-item a:hover {
        color: #fff;
    }
</style>