<form action="/dashboard/basic-info" method="POST" id="basicInfo" class="mb-4">

  <div class="mb-3">
    <label for="firstName" class="form-label">First Name:</label>
    <input type="text" id="firstName" name="firstName" class="form-control" value="<%= user.basicInfo.firstName %>" required>
  </div>
  <div class="mb-3">
    <label for="lastName" class="form-label">Last Name:</label>
    <input type="text" id="lastName" name="lastName" class="form-control" value="<%= user.basicInfo.lastName %>" required>
  </div>
  <div class="mb-3">
    <label for="phone" class="form-label">Phone:</label>
    <input type="text" id="phone" name="phone" class="form-control" value="<%= user.basicInfo.phone %>" required>
  </div>
  <div class="mb-3">
    <label for="location" class="form-label">Location:</label>
    <input type="text" id="location" name="location" class="form-control" value="<%= user.basicInfo.location %>" required>
  </div>
  <button type="submit" class="btn btn-success w-100">Save</button>

</form>