  <form action="/dashboard/basic-info" method="POST" id="basicInfo">

    <label>
      First Name:
      <input type="text" name="firstName" value="<%= user.basicInfo.firstName %>" required>
    </label>
    <label>
      Last Name:
      <input type="text" name="lastName" value="<%= user.basicInfo.lastName %>" required>
    </label>
    <label>
      Phone:
      <input type="text" name="phone" value="<%= user.basicInfo.phone %>" required>
    </label>
    <label>
      Location:
      <input type="text" name="location" value="<%= user.basicInfo.location %>" required>
    </label>
    <button type="submit" class="add">Save</button>
  </form>