 <form action="/add-info/delete/<%= category %>/<%= item._id %>?_method=DELETE" method="POST">
   <input type="hidden" name="_method" value="DELETE">
   <input type="hidden" name="page" value="add-jobs">
   <button type="submit">x</button>
 </form>