<form action="/add-info/add-skills" method="POST" class="inputForms">
  <div class="oneRow">
    <div>
      <label for="skill">Skill:</label>
      <input type="text" id="skill" name="skill" required>
    </div>
  </div>
  <button type="submit">Add</button>
</form>