<form action="/add-info/add-skills" method="POST" class="inputForms">
  <label for="skill">Skill:</label>
  <input type="text" id="skill" name="skill" required>
  <button type="submit">Add</button>
</form>