<% page = 'add-skills' %>

<main class="container-lg mt-3 container-max">
  <%- include('templates/header.ejs', { page })%>
  <%- include('components/section', {title: 'Skills' ,  message:'Add a skill', section:'skills' , userHistory: user.skills, textboxHeight: '135px', page }) %>
  <%- include('templates/footer.ejs', {page, user }) %>

</main>