<h1 id="message">Check <%= email %> for a link. <br> Click it to login.</h1>

<style>
  #message {
    color: #0ba653;
    /* Change this to whatever color you want */
    font-family: Arial, sans-serif;
    /* Change this to the desired font */
    font-size: 2em;
    /* Change this to adjust the font size */
    text-align: center;
    /* Change this to adjust the text alignment */
  }
</style>