<head>
  <title>Check Email</title>
  <!-- mobile -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<div id="message">Check <%= email %> for a link. <br> <br> <br> Click it to login.</div>

<style>
  #message {
    margin-top: 100px;
    color: #0ba653;
    /* Change this to whatever color you want */
    font-family: Arial, sans-serif;
    /* Change this to the desired font */
    font-size: 2em;
    /* Change this to adjust the font size */
    text-align: center;
    /* Change this to adjust the text alignment */

  }
</style>