<!-- Header -->
<%- include('templates/header.ejs', {page: 'generateResume'}),   %>

<main>
  <!-- Submit job listing -->
  <%- include('components/submit-job-listing.ejs'),   %>

  <!-- Display resume -->
  <% if (resume) { %>
  <!-- Import resume display component -->
  <%- include('components/display-resume.ejs', {resume}),   %>
  <% } %>
  </div>
</main>

<%- include('templates/footer.ejs', {page: 'generateResume', user }) %>

</body>

</html>