<!DOCTYPE html>
<html>

<head>
  <title>Register/Login</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/main.css" />
</head>

<body>
  <h1>Register/Login</h1>
  <!-- Email login / register form -->
  <form action="/" method="post">
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required>
    <button type="submit">Submit</button>
  </form>
  <p style="margin-top: 80px;">
    <!-- include image from public folder -->
    <img src="/images/diagram.png" alt="login image" width="300px" height="300px">
  </p>
</body>

</html>