<%- include('partials/header.ejs') %>

    <form action="/register" method="POST">
        <!-- Name -->
        <label for="first_name">First name</label>
        <input type="text" id="first_name" name="first_name" required />

        <label for="last_name">Last name</label>
        <input type="text" id="last_name" name="last_name" required />

        <!-- Email -->
        <label for="email">Email</label>
        <input type="text" id="email" name="email" required />

        <!-- Password -->
        <label for="password">Password</label>
        <input type="password" id="password" name="password" minlength="4" required />

        <!-- Submit button -->
        <input type="submit" value="Register" />

        <% if (message) { %>
            <p class="error">
                <%= message %>
            </p>
            <% } %>

                <a href="/login">login</a>
    </form>

    </body>

    </html>