body {
    padding-top: 20px;
    padding: 10px;
    font-size: 10px;
}

main {
    padding: 10px;
}

textarea {
    width: 300px;
    height: 200px;
}

.container-max {
    max-width: 800px;
    /* adjust as per your requirement */
    margin: auto;
}

/* for large screens */
@media only screen and (min-width: 600px) {
    body {
        font-size: 18px;
    }
}