<hr>
</hr>
<nav>
  <div>

    <div>
      EZ-Resume
    </div>

    <div>
      <!-- if user, show email -->
      <% if (typeof user !== "undefined") { %>
      <%= user.email %>
      <% } %>
    </div>
    <div>
      <!-- if user, show logout -->
      <% if (typeof user !== "undefined") { %>
      <a href="/logout">Logout</a>
      <% } %>
    </div>
  </div>
</nav>
</body>

</html>