<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <%= user.email %>
    <ul class="navbar-nav ms-auto">
      <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a>
      </li>
    </ul>
  </div>
</nav>