<nav class="navbar navbar-light bg-light bottom-nav">
  <div class="container-fluid">
    <%= user.email %>
    <ul class="navbar-nav ms-auto">
      <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a>
      </li>
    </ul>
  </div>
</nav>

<style>
  .bottom-nav {
    font-size: 12px;
  }
</style>