<nav class="main-nav">
  <div class="add-your-info">
    <div>1. Add your career info:</div>
    <ul>
      <li>
        <a href="/add-info/add-basic">
          Basic Info
        </a>
      </li>

      <li>
        <a href="/add-info/add-jobs">
          Jobs
        </a>
      </li>

      <li>
        <a href="/add-info/add-education">
          Education
        </a>
      </li>

      <li>
        <a href="/add-info/add-skills">
          Skills
        </a>
      </li>


    </ul>


  </div>
  <div class="generate">
    <div>2. Generate your resume:</div>
    <ul>
      <li>
        <a href="/create-resume">
          Create Resume
        </a>
      </li>
    </ul>


  </div>


</nav>

<style>
  .main-nav {
    font-family: 'Roboto', sans-serif;
    margin-top: .8rem;
  }

  .add-your-info {
    background-color: rgb(198, 171, 215);
    padding: .5rem;
  }

  .generate {
    background-color: #87accb;
    padding: .5rem;
  }

  .main-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
  }

  .main-nav ul li {
    margin: 0;
    padding: 0;
    display: block;
    border-right: 1px solid #ccc;
  }

  .main-nav ul li:last-child {
    border-right: none;
  }


  .main-nav a {
    text-decoration: none;
    font-size: .8rem;
    display: block;
    padding: 0.3rem .3rem;
    white-space: nowrap;
  }



  .main-nav ul li:hover {
    background: rgba(203, 100, 100, 0.1);
    color: #fff;
    outline: 1px solid #ccc;
  }

  .main-nav ul li.active {
    background: rgba(0, 0, 0, 0.2);
    color: #fff;
  }

  .main-nav a:active,
  .main-nav a:visited {
    color: inherit;
    /* or any other color you want, but not red */
  }

  /* desktop version, remove borders, large text , more horizontal spacing between each menu item */
  @media (min-width: 768px) {
    .main-nav ul {
      justify-content: flex-start;
    }

    .main-nav ul li {
      border-right: none;
    }

    .main-nav ul li:last-child {
      border-bottom: none;
    }

    .main-nav a {
      font-size: 1rem;
      padding: 0.5rem 1rem;
    }



  }
</style>