<nav>
  <div>
    <ul>
      <li>
        <a href="/add-info/add-basic">
          Basic Info
        </a>
      </li>
      <li>
        <a href="/add-info/add-jobs">
          Job Experience
        </a>
      </li>
      <li>
        <a href="/add-info/add-education">
          Education
        </a>
      </li>
      <li>
        <a href="/add-info/add-skills">
          Skills
        </a>
      </li>
    </ul>
    <ul>
      <li>
        <a href="/add-info/create-resume">
          Generate Resume
        </a>
      </li>
    </ul>
  </div>
</nav>