<!-- set 'page' variable in ejs -->
<% page = 'add-basics' %>

<main class="container-lg container-max">
  <%- include('templates/header.ejs', { page })%>
  <%- include('components/basic-info', { user }) %>
  <%- include('templates/footer.ejs', { page, user }) %>


</main>