<hr>
</hr>
<div>
  <h1>EZ-Resume</h1>
  <h3>Save all your career history in one place. Instantly create custom resumes for each job listing.</h3>
  <p>
    <strong>How it works:</strong>
  <ol>
    <li>Add all your work history, education, and skills into Resume Master. This becomes your flexible and comprehensive professional profile.</li>
    <li>When you spot a job you're interested in, simply copy the job description into the app and hit 'Generate'.</li>
    <li>Our app sifts through your profile, picks the most pertinent info, re-writes and crafts a tailored resume for that job. You get a job-focused resume without any manual tweaking.</li>
  </ol>
  </p>
</div>