body {
    background-color: #333;
    color: #89e196;
    font-family: Arial, sans-serif;
}

form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
}

form label {
    display: block;
    margin-bottom: 5px;
}

form input[type="text"],
form input[type="password"],
form input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #555;
    color: #89e196;
    border: 1px solid #89e196;
    border-radius: 5px;
}

form input[type="submit"] {
    background-color: #89e196;
    color: #333;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    text-transform: uppercase;
}

form input[type="submit"]:hover {
    background-color: #7ad282;
}

a:link,
a:visited,
a:hover,
a:active {
    color: #89e196;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.error {
    color: #ff0000;
}


form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #555;
    color: #89e196;
    border: 1px solid #89e196;
    border-radius: 5px;
    font-family: Arial, sans-serif;
}

form select:focus {
    outline: none;
    border-color: #7ad282;
}


form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #555;
    color: #89e196;
    border: 1px solid #89e196;
    border-radius: 5px;
    font-family: Arial, sans-serif;
}

form textarea:focus {
    outline: none;
    border-color: #7ad282;
}