<% educations.forEach(function(education) { %>
<!-- Display info  -->

<div class="entry">

  <p> <%= education.school %></p>
  <p><%= education.info %></p>
  <!-- Delete button -->
  <%- include('../../../components/delete-button.ejs', {item: education, category: 'education'}) %>
</div>
<% }) %>