<form action="/add-info/add-education" method="POST" class="inputForms">


  <div>
    <label for="school">School:</label>
    <input type="text" id="school" name="school" required>
  </div>
  <div class="oneRow">
    <div>
      <label for="degree">Degree:</label>
      <input type="text" id="degree" name="degree" required>
    </div>

    <div>
      <label for="fieldOfStudy">Field Of Study:</label>
      <input type="text" id="fieldOfStudy" name="fieldOfStudy" required>
    </div>
  </div>

  <div class="oneRow">

    <div>
      <label for="start-date">Start Date:</label>
      <input type="month" id="start-date" name="startDate" required>
    </div>
    <div>
      <label for="end-date">End Date:</label>
      <input type="month" id="end-date" name="endDate" required>
    </div>
  </div>
  <div>
    <button type="submit">Add</button>
</form>