<form action="/add-info/add-education" method="POST" class="inputForms">

  <div class="oneRow">
    <div>
      <label for="school">School:</label>
      <input type="text" id="school" name="school" required>
    </div>
    <div>
      <label for="degree">Info:</label>
      <input type="text" id="info" name="info" required>
    </div>
  </div>
  <button type="submit">Add</button>
</form>