<!-- set 'page' variable in ejs -->
<% page = 'add-education' %>

<main class="container-lg container-max">
  <%- include('templates/header.ejs', { page })%>
  <%- include('components/section', {title: 'Education', message:'Add an instition or degree' , section:'education' , userHistory: user.education, textboxHeight: '135px', page }) %>

  <a href="add-skills" class="btn btn-primary w-100">next</a>

  <%- include('templates/footer.ejs', {page: 'add-info', user }) %>

</main>